@import url("https://use.fontawesome.com/releases/v6.1.0/css/all.css");

/*
    background (propiedad abreviada => shorthand)
    background-color
    background-size
    background-image
    background-position

    top bottom left right
*/


.fondo{
  background-image: url('../images/fondo.jpg');
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
  /* contenedor    */
  border: 2px solid black;
  height: 600px;
  width: 100%;
  /* ------------*/
}
.sun {
  background-image: url('../images/sun.png'), url('../images/sun.png'), url('../images/sun.png');
  background-color: salmon;
  background-repeat: repeat-y, repeat-x, repeat-y;
  background-position: center, center, top left;
  /* contenedor    */
  border: 2px solid black;
  height: 600px;
  width: 100%;  
  /* ------------*/
}

.fondo-gradiente{
  background: linear-gradient(to top, rgba(194, 32, 0, 0.582), rgba(0, 255, 0, 0.349));
  /* contenedor    */
  border: 2px solid black;
  height: 600px;
  width: 100%;
  /* ------------*/
}
.fondo-compuesto{
  background-image: url('../images/sun.png'), url('../images/fondo.jpg');
  background-position:center;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: fixed;
  /* opacity: 1; */
  /* contenedor    */
  border: 2px solid black;
  height: 600px;
  width: 100%;
  /* ------------*/
}

.espacio {
  height: 900px;
}
